{% load static %}
<!--   Core JS Files   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>

<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

<!-- Chart js Plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
 integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
 crossorigin=""></script>

<!--  Google Maps Plugin    -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7P0GcV1OOFUIJ6ZUkY0WyRQWHRZR4Z6Q"
 type="text/javascript"></script>

<!-- Leaflet Google Maps Plugin -->
<script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>

<!-- Responsive sidebar -->
<script src="{% static 'js/responsive.js' %}"></script>

<!-- Main js file -->
<script src="{% static 'js/main.js' %}?rand=00027"></script>

<script src="{% static 'js/housing-data.js' %}?rand=00005"></script>
