{% extends 'energy_map/_base.html' %}
{% block content %}
    <div class="main-panel">
        <!-- <nav class="navbar navbar-default navbar-fixed"> -->
            <!-- <div class="container-fluid"> -->
                <!-- <div class="navbar-header"> -->
                    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2"> -->
                        <!-- <span class="sr-only">Toggle navigation</span> -->
                        <!-- <span class="icon-bar"></span> -->
                        <!-- <span class="icon-bar"></span> -->
                        <!-- <span class="icon-bar"></span> -->
                    <!-- </button> -->
                    <!-- <a class="navbar-brand" href="#">{{ energy_type }} Usage</a> -->
                <!-- </div> -->
                <!-- <div class="collapse navbar-collapse"> -->
                <!-- </div> -->
            <!-- </div> -->
        <!-- </nav> -->

                                
        <div id="mapid"></div>

        <!-- Overlay pops up when click on map marker -->
        <div id="overlay">
            <h4 id="overlay-text">
                Energy Usage for past 24 hours
            </h4>
            <canvas id="myChart"></canvas>
            {# <i class="close"></i> #}
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    </div>
{% endblock %}
