@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

legend {
    font-size:35px;
    font-weight: bold;
    border-bottom: 0;
}

.well {
    background-color: white;
    border-radius: 10px;
}

.center-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translateY(-50%) translateX(-50%);
}

.horizontal-center {
    margin: 0 auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 100%;
}

.leaflet-popup-content-wrapper {
    border-radius: 0px;
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

#mapid { 
    height: 100%; 
}

#overlay, #feedbackview-overlay, #feedbackform-overlay {
    width:80%;
    margin:0 auto;
    background:white;
    color:black;
    padding:10px;
    position:absolute;
    top:20%;
    left:10%;
    z-index:1000;
    display: none;
}

#overlay-text, #feedbackview-overlay-text, #feedbackform-overlay-text {
    text-align: center;
    font-weight: bold;
}

.close {
    background-image:url("/static/img/close-icon-2.png");
    position:absolute;
    right:5px;
    top:5px;
    cursor:pointer;
    height:24px;
    width:24px;
}

#mask{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
}

.legend {
    line-height: 18px;
    color: #555;
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}
